body {
  font-family: Arial, sans-serif;
  background-color: #d86b23;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.quote-container {
  max-width: 600px;
  margin: 100px auto;
  background: #fff;
  color: #d86b23;
  padding: 50px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}

h1 {
  margin-bottom: 20px;
}

.quote-box {
  margin: 20px 0;
}

button {
  background-color: #d86b23;
  color: #fff;
  border: none;
  padding: 50px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

button:hover {
  background-color: #b8571a;
}


.fact1{
    
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
    font-style: italic;
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  .header {
    border: 1px solid red;
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
}

.circle {
    width: 250px;
    height: 250px;
    background-color: #99ccff;
    border: 2px solid #007bff;
    border-radius: 50%; /* Делает блок круглыми */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

