/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.background-image {
    background-image: url('https://pastvu.com/_p/a/d/w/n/dwnyynlt9qpc5kqogv.jpg'); /* Укажите путь к вашему фоновому изображению */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

h1, h2 {
    text-align: center;
    color: #e74c3c;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

/* Хронология */
.timeline {
    list-style-type: none;
    padding: 0;
}

.timeline li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

.timeline li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    border-radius: 50%;
}

strong {
    color: #2980b9;
}

/* Стили для выделенных слов */
.highlight-orange {
    background-color: #f9d5a7;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
}
